@import "./base.css";

#app {
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  #app {
    height: 100vh;
  }
}