@import "./base.css";

#app {
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  text-transform: capitalize;
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  #app {
    height: 100vh;
  }
}